html{
    font-size: 10px;
}




body {
    text-align: center;
    height: 900rem;
    background-image: url(./img/final_plz_1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.girl{
    padding-top: 110rem;
    width: 110rem;
    height: 50rem;
}


.navi{
    margin-top: 10rem;
}

.naviBtn{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 34rem;
    height: 17rem;
}

.video{
    margin-top: 46rem;
}

.video-content{
    width: 70rem;
    height: 40rem;
}

#sec1{
    margin-top: 70rem;
}

.sec1padding{
    padding-top: 30rem;
}

.sec1Btn{
    width: 17rem;
    height: 17rem;
}




#sec2{
    margin-top: 25rem;
}

.sec2padding{
    padding-top: 35rem;
}

.sec2Btn{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 6rem;
    margin-bottom: 8rem;
    width: 17rem;
    height: 17rem;
}


#sec3{
    margin-top: 28rem;
}

.sec3padding{
    padding-top: 262rem;
}

.sec3Btn{
    width: 32rem;
    height: 8rem;
}

#sec4{
    /* margin-top: 10rem; */
}

.sec4padding{
    padding-top: 10rem;
}

.sec4Btn{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20rem;
    height: 5rem;
}






@media screen and (max-width: 825px) {
    html{
        font-size: 5px;
    }
}

@media screen and (max-width: 611px) {
  html{
      font-size: 4px;
  }
} 