html{
    font-size: 10px;
}




body {
    text-align: center;
    height: 900rem;
    background-image: url(./img/final_plz_1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navi{
    margin-top: 180rem;
}

.naviBtn{
    width: 17rem;
    height: 17rem;
}

.video{
    margin-top: 85rem;
}

.video-content{
    width: 70rem;
    height: 40rem;
}

#sec1{
    margin-top: 110rem;
}

.sec1padding{
    padding-top: 50rem;
}

.sec1Btn{
    width: 17rem;
    height: 17rem;
}




#sec2{
    margin-top: 30rem;
}

.sec2padding{
    padding-top: 70rem;
}

.sec2Btn{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 15rem;
    height: 15rem;
}


#sec3{
    margin-top: 291rem;
}

.sec3padding{
    padding-top: 60rem;
}

.sec3Btn{
    width: 32rem;
    height: 8rem;
}

#sec4{
    margin-top: 10rem;
}

.sec4padding{
    padding-top: 10rem;
}

.sec4Btn{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20rem;
    height: 5rem;
}






@media screen and (max-width: 825px) {
    html{
        font-size: 5px;
    }
}

@media screen and (max-width: 611px) {
  html{
      font-size: 4px;
  }
} 